@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #ffecec;
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
    color: #3d3d3d;
}

span{
    color: #faba5a;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.interface{
    padding: 14px 4%;
}

#logo i{
    color: #faba5a;
    cursor: pointer;
}

#navlist{
    list-style: none;
    display: flex;
    gap: 3rem;

    li{
        transition: .2s ease-in;
    }

    li:hover{
        scale: 1.05;
        color: #3d3d3dc7;
    }
}

.btn-default{
    background-color: #e1e0e0;
    padding: 10px 12px;
    border-radius: 12px;
    color: #3d3d3d;
    text-decoration: none;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: .2s ease-in;
}

.btn-default:hover{
    scale: 1.05;
    background-color: #e1e0e0ac;
}

#home{
    margin-top: 20px;
    min-height: calc(100vh - 72px);
}

#cta{
    width: 35%;
}

#cta_title{
    font-size: 2rem;
    line-height: 30px;
}

#menu{
    margin-top: 20px;
    min-height: 100vh;

    h2{
        margin-bottom: 30px;
    }
}

#ingredientes{
    width: calc(50% - 2%);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    
    ul{
        display: flex;
        flex-direction: column;
        gap: 13px;
    }
}

#preparo{
    width: calc(50% - 2%);
    text-align: justify;
}

.title-site{
    text-align: center;
    color: #faba5a;
}

.fundo{
    background-color: #fff;
    padding: 10px 3%;
    border-radius: 12px;
    box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.1);
}

#about{
    min-height: 100vh;
}

#chef_img{
    width: 40%;
}

#chef_img img{
    width: 100%;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 50px;
    }
}

article{
    width: 50%;
}

#about_description{
    text-align: justify;
}